body {
    padding-top: 50px;
    display: block;
    margin: 8px;      
    justify-content: center;
}
/*
.form-control{
    box-align:"center";
}
*/
.campoObrigatorioSpam {
    justify-content: right;
}

.h2Form{
    font-size: 18px;
}
.jumbotron{
    padding-bottom: 12px;
    padding-top: 12px;
    border: 1px solid black;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17pt;
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 80px;
}
.pFicha{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16pt; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 80px;
}
.msgCatalogacao{
    font-family:'Times New Roman', Times, serif;
    font-size: 15pt; 
    font: bold;
    text-align: center;
    margin: 0px;
}
.caixaFicha{
    border: 1px solid black ;
    font-family:'Times New Roman', Times, serif;
    font-size: 15pt;
    padding-left: 30px;
}
#nome{
    margin-bottom: 1px;
}
#tituloSubtitulo{
    margin-bottom: 1px;
    text-indent: 25px;
}
#paginas{    
    text-indent: 25px;
}
#tipoTese{
    margin-bottom: 1px;
    text-indent: 25px;
}
#orientador{
    margin-bottom: 1px;
    text-indent: 25px;
}
#coorientador{
    margin-bottom: 1px;
    text-indent: 25px;
}
#areaConcentra{    
    text-indent: 25px;
}
#assunto{
    margin-bottom: 1px;
    text-indent: 25px;
}
