body {
    padding-top: 50px;
    display: block;
    margin: 8px;      
    justify-content: center;
}
/*
.form-control{
    box-align:"center";
}
*/
.campoObrigatorioSpam {
    justify-content: right;
}

.h2Form{
    font-size: 18px;
}
.jumbotron{
    padding-bottom: 12px;
    padding-top: 12px;
    border: 1px solid black;
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 15pt;
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 80px;
}
/*
.antesFicha{
    margin-right: 10px;
}
.depoisFicha{
    margin-left: 5px;
}
*/
.pFicha{
    font-family:'Times New Roman', Times, serif;
    font-size: 15pt; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 80px;
}
.msgCatalogacao{
    font-family:'Times New Roman', Times, serif;
    font-size: 15pt; 
    font: bold;
    text-align: center;
    margin: 0px;
    line-height: 1.7rem;
}
.caixaFicha{
    border: 1px solid black ;
    font-family:'Times New Roman', Times, serif;
    font-size: 14pt; 
    margin: auto;
    max-width: 17cm;
    min-height: 10.15cm; 
    max-height: 283.5px;
    line-height: 1.7rem;
}
#nome{
    margin-bottom: 1px;    
}
#tituloSubtitulo{
    margin-bottom: 1px;
    text-indent: 25px;   
}
#paginas{    
    text-indent: 25px;
    margin-bottom: 8px;    
}
#tipoTese{
    margin-bottom: 1px;
    text-indent: 25px;
}
#orientador{
    margin-bottom: 1px;
    text-indent: 25px;
}
#coorientador{
    margin-bottom: 1px;
    text-indent: 25px;
}
#areaConcentra{    
    text-indent: 25px;
    margin-bottom: 8px;    
}
#assunto{
    margin-bottom: 1px;
    text-indent: 25px;
}
.bodyIndex{
    background: url(../src/bg-fundo.jpg) transparent;
}
.cabecalho{
    margin-left: 20px;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
}
.bibliotecariaResponsavel{
    font-family:'Times New Roman', Times, serif;
    font-size: 15pt; 
    margin: auto;
}